[submodule "Framework"]
	path = "Assets/Framework"
	url = https://github.com/sunisok1/Framework.git
[submodule "Console2048"]
	path = "Assets/Game/Console2048"
	url = https://github.com/sunisok1/Console2048.git
